asgiref==3.8.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==5.2.1
django-cors-headers==4.9.0
django-resized==1.0.3
django-stubs==6.0.5
django-stubs-ext==6.0.5
django-unfold==0.81.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
environs==14.3.0
fpdf==1.7.2
git-filter-repo==2.47.0
idna==3.11
marshmallow==4.0.0
mysqlclient==2.2.7
pillow==11.3.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.1.1
requests==2.33.1
sqlparse==0.5.3
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
whitenoise==6.12.0
